PG_USER = postgres
PG_PASSWORD = example
PG_DB = exampledb 
PG_PORT = 5432
ADMINER_PORT = 1212
PG_HOST = localhost
PG_SSL = "false"
KEYCLOACK_URL = "http://localhost:8080"
KEYCLOAK_REALM = "restaurant-realm"
KEYCLOAK_CLIENT_SECRET = "KvFfQHESGNXGkj334GmSHl2V86bGMr9Y" #fake secret, replace with your own
KEYCLOAK_CLIENT_ID = "restaurant-api"