PG_USER=admin
PG_PASSWORD=admin123
PG_DB=restaurants
PG_PORT=5432
ADMINER_PORT=1212
PG_HOST=localhost
PG_SSL=false
KEYCLOAK_CLIENT_SECRET=ASTneYCtCMrGFV09gyfI4kChbQcnGljt
KEYCLOAK_URL=http://keycloak:8080
KEYCLOAK_REALM=restaurant-realm
KEYCLOAK_CLIENT_ID=restaurant-api
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=admin123
MONGO_DB=restaurants
DB=postgres
MONGO_URI=mongodb://admin:admin123@mongo:27017/restaurants?authSource=admin



# ELASTIC
ELASTIC_VERSION=8.13.0
ELASTIC_DISCOVERY=single-node
ELASTIC_SECURITY=false
ELASTIC_PORT=9200
ELASTIC_URL=http://elasticsearch:9200

# SEARCH SERVICE
SEARCH_PORT=4000

# API (IMPORTANTE)
API_URL=http://api:3001/api